@import 'settings';
@import 'foundation-emails';

@import 'template/template';

a {
  color: #0f0f0f !important;
}
.emph_bottom {
  border-bottom: 1px dashed #000000
}
.wrapper-link {
  table-layout: fixed;
}

//registration
.avtorisation {
  background-color: #f1f1f1;
  width: 330px !important;
}
.avtorisation p {
  line-height: 50px !important;
  font-size: 16px;
  margin-bottom: 0px !important;
  padding-left: 25px;
}
.warning p {
  color: #6e5608;
  text-align: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}
.text-white {
  color: #ffffff !important;
}
.padding-img {
  padding-left: 20px !important;
}
.btn {
  min-width: 100px !important;
  width: 225px;
}
.small-btn {
    min-width: 100px !important;
    width: 115px;
}
.small-btn p{
  margin-bottom: 0px;
  Margin-bottom: 0px;
}
button .btn-vk {
  color: #ffffff !important;
}
.btn-padding {padding-right: 10px !important ;}
.large {
  margin-bottom: 5px !important;
}
.text-callout {
  padding-left: 27px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 28px;
}

h1, h2 {
  padding-top: 0px;
}

.text-justify {
  text-align: justify;
}

//callout

.borders {
  border:1px solid #e2e2e2;
}
.top-border { border-top:1px solid #e2e2e2;}
.right-border {border-right:1px solid #e2e2e2;}

.padding-inner-top {padding-top: 12px;}
.padding-inner-bottom {padding-bottom: 5px;}

.alert {
   background-color:#f9f9f9 !important;
}

//footer
.footer-black {
  background-color: #333333 !important ;
  height: 200px;
}
.footer-black a {
  line-height: 1.5;
}
.footer-black p {
  padding-top: 8px;
}
.btn-footer {
  background: #ffffff;
}
.btn-padding {
  padding-left: 0 !important;
  padding-right: 20px !important ;
}
